@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.zen-dots {
  font-family: "Zen Dots", sans-serif;
}

.comfoorta {
  font-family: "Comfortaa", sans-serif;
}
